<div class="container">
	<div ng-show="isAdmin" class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3> editar pelicula </h3>
			<md-content class="md-padding">
			<form ng-submit="editPost(actualPost)" class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Title" ng-model="newPost.title"></input>
						<label>Title</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Year" ng-model="newPost.year"></input>
						<label>Year</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Runtime" ng-model="newPost.runtime"></input>
						<label>Runtime</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Genre" ng-model="newPost.genre"></input>
						<label>Genre</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Director" ng-model="newPost.director"></input>
						<label>Director</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Actors" ng-model="newPost.actors"></input>
						<label>Actors</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Plot" ng-model="newPost.plot"></input>
						<label>Plot</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="Poster" ng-model="newPost.poster"></input>
						<label>Poster</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="RelatedMovies" ng-model="newPost.relatedMovie"></input>
						<label>Rrelated movies</label>
					</div>
						<button type="submit" class="waves-effect waves-light btn blue">Post</button>
				</div>
				<div>

					Related Movies:
					<ul>
						<li ng-repeat="related in actualPost.relatedMovies | orderBy: 'title'">
							<a href="#/posts/{{related._id}}">
								{{related.title}}
							</a>
							<button ng-click="eliminarPeliculaRelacionada(related)" form="eliminarPeliculaRelacionada" class="btn btn-danger blue">
								Delete
							</button>
						</li>
					</ul>

					<md-content class="md-padding">
						<form ng-submit="$event.preventDefault()">
						   <md-autocomplete
							  md-selected-item="selectedItem"
							  md-search-text-change="searchTextChange(searchText)"
							  md-search-text="searchText"
							  md-selected-item-change="selectedItemChange(item)"
							  md-items="item in querySearch(searchText)"
							  md-item-text="item.title"
							  md-min-length="0"
							  placeholder="Related movie">
							  <md-item-template>
								 <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
							  </md-item-template>
							  <md-not-found>
								 No movies matching "{{searchText}}" were found. Try to save it first in main page.
							  </md-not-found>
						   </md-autocomplete>
						   <br/>
						</form>
					</md-content>

				</div>

				  <button type="submit" form="formEdicion" class="btn btn-warning blue">Edit</button>
					<a class="btn btn-primary blue" ng-click="votar(actualPost)">votar</a>
			</form>
			</md-content>
			<button ng-click="eliminarPelicula(actualPost)" class="btn btn-danger blue">Delete</button>

			<button ng-click="precargarCampos(actualPost.title)" class="btn btn-success blue">precargar campos</button>
			<label id="precargarCamposError">{{precargarCamposError}}</label>

		</div>
	</div>

</div>
