<div class="container">
	<div ng-show="isAdmin" class="row">
		<div class="col s12 m4 l2"><p></p></div>
		<div class="row col s12 m4 l8">
			<h3 class="thin center-align"> Edition </h3>
			<md-content class="md-padding">
				<form ng-submit="editPost(actualPost)" id="formEdicion" class="col s12">
					<div class="row">
						<div class="row valign-wrapper">
							<div class="input-field col s11 valign">
								<input type="text" id="title" class="validate" placeholder="Title" ng-model="actualPost.title"></input>
								<label class="active" id="precargarCamposError" for="title">Title | {{precargarCamposError}}</label>
							</div>
							<div class="col s1 valign">
								<a class="btn-floating blue"> <i class="material-icons" ng-click="precargarCampos(actualPost.title)">cloud_download</i> </a>
								<!--i class="material-icons" ng-click="precargarCampos(actualPost.title)">cloud_download</i-->
							</div>
						</div>
						<div class="input-field col s6">
							<input type="text" id="year" class="validate" placeholder="Year" ng-model="actualPost.year"></input>
							<label class="active" for="year">Year</label>
						</div>
						<div class="input-field col s6">
							<input type="text" id="runtime" class="validate" placeholder="Runtime" ng-model="actualPost.runtime"></input>
							<label class="active" for="runtime">Runtime</label>
						</div>
						<div class="input-field col s6">
							<input type="text" id="genre" class="validate" placeholder="Genre" ng-model="actualPost.genre"></input>
							<label class="active" for="genre">Genre</label>
						</div>
						<div class="input-field col s6">
							<input type="text" id="director" class="validate" placeholder="Director" ng-model="actualPost.director"></input>
							<label class="active" for="director">Director</label>
						</div>
						<div class="input-field col s6">
							<input type="text" id="actors" class="validate" placeholder="Actors" ng-model="actualPost.actors"></input>
							<label class="active" for="actors">Actors</label>
						</div>
						<div class="input-field col s12">
							<input type="text" id="plot" class="validate" placeholder="Plot" ng-model="actualPost.plot"></input>
							<label class="active" for="plot">Plot</label>
						</div>
						<div class="input-field col s12">
							<input type="text" id="poster" class="validate" placeholder="Poster is a valid http://.." ng-model="actualPost.poster"></input>
							<label class="active" for="poster">Poster</label>
						</div>
					</div>
				</form>
			</md-content>

				<div>

					Related Movies:
					<ul>
						<li ng-repeat="related in actualPost.relatedMovies | orderBy: 'title'">
							<a href="#/posts/{{related._id}}">
								{{related.title}}
							</a>
							<button ng-click="eliminarPeliculaRelacionada(related)" class="btn btn-danger blue">
								Delete
							</button>
						</li>
					</ul>

					<md-content class="md-padding">
						<form ng-submit="$event.preventDefault()">
						   <md-autocomplete
							  md-selected-item="selectedItem"
							  md-search-text-change="searchTextChange(searchText)"
							  md-search-text="searchText"
							  md-selected-item-change="selectedItemChange(item)"
							  md-items="item in querySearch(searchText)"
							  md-item-text="item.title"
							  md-min-length="0"
							  placeholder="Related movie">
							  <md-item-template>
								 <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
							  </md-item-template>
							  <md-not-found>
								 No movies matching "{{searchText}}" were found. Try to save it first in main page.
							  </md-not-found>
						   </md-autocomplete>
						   <br/>
						</form>
					</md-content>
				</div>

				<div class="input-field col s12 right-align">
					<button type="submit" form="formEdicion" class="btn btn-warning blue">Edit</button>
					<button ng-click="eliminarPelicula(actualPost)" class="btn btn-danger  red darken-2">Delete</button>
					<!--a class="btn btn-primary blue" ng-click="votar(actualPost)">votar</a-->
				</div>



		</div>
	</div>

</div>
