<div class="container">
	<div ng-show="isAdmin" class="row">
		<div class="col s12 m4 l2"><p></p></div>
		<div class="row col s12 m4 l8">
			<h3 class="thin"> editar pelicula </h3>
			<md-content class="md-padding">
			<form ng-submit="editPost(actualPost)" id="formEdicion" class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.title"></input>
						<label>Title</label>
					</div>
					<div class="row">
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.year"></input>
						<label>Year</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.runtime"></input>
						<label>Runtime</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.genre"></input>
						<label>Genre</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.director"></input>
						<label>Director</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.actors"></input>
						<label>Actors</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.plot"></input>
						<label>Plot</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.poster"></input>
						<label>Poster</label>
					</div>
					<div class="input-field col s6">
						<input type="text" class="validate" placeholder="" ng-model="actualPost.relatedMovie"></input>
						<label>Rrelated movies</label>
					</div>
				</div>
				<div>

					Related Movies:
					<ul>
						<li ng-repeat="related in actualPost.relatedMovies | orderBy: 'title'">
							<a href="#/posts/{{related._id}}">
								{{related.title}}
							</a>
							<button ng-click="eliminarPeliculaRelacionada(related)" form="eliminarPeliculaRelacionada" class="btn btn-danger blue">
								Delete
							</button>
						</li>
					</ul>

					<md-content class="md-padding">
						<form ng-submit="$event.preventDefault()">
						   <md-autocomplete
							  md-selected-item="selectedItem"
							  md-search-text-change="searchTextChange(searchText)"
							  md-search-text="searchText"
							  md-selected-item-change="selectedItemChange(item)"
							  md-items="item in querySearch(searchText)"
							  md-item-text="item.title"
							  md-min-length="0"
							  placeholder="Related movie">
							  <md-item-template>
								 <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
							  </md-item-template>
							  <md-not-found>
								 No movies matching "{{searchText}}" were found. Try to save it first in main page.
							  </md-not-found>
						   </md-autocomplete>
						   <br/>
						</form>
					</md-content>
				</div>

				<div class="input-field col s12 right-align">
					<button ng-click="eliminarPelicula(actualPost)" class="btn btn-danger  red darken-2">Delete</button>
					<button ng-click="precargarCampos(actualPost.title)" class="btn btn-success blue">precargar campos</button>
					<button type="submit" form="formEdicion" class="btn btn-warning blue">Edit</button>
					<a class="btn btn-primary blue" ng-click="votar(actualPost)">votar</a>
				</div>
			</form>
			</md-content>

			<label id="precargarCamposError">{{precargarCamposError}}</label>

		</div>
	</div>

</div>
