
<div class="row" style="width: 60%; margin: 0 auto; ">

				<div class="cover" style="float: left;">
					<img ng-src="{{post.poster}}">
					
				</div>
				<div class="mdesc" style="float: right;">
					<div class="name">
						<h1>{{post.title}}</h1>
					</div>
					<div class="inattr" style="max-width: 500px;">
						<ul>
							<li><b>Year:</b> {{post.year}}</li> 					 	 
							<li><b>Director:</b> {{post.director}}</li> 					  
							<li><b>Actors:</b> {{post.actors}}</li> 					  
							<li><b>Plot:</b> {{post.plot}}</li> 					  
							<li><b>Genre:</b> {{post.genre}}</li> 					   					   
							<li><b>Run Time:</b> {{post.runtime}}</li> 					   					   							
						</ul>
					</div>
				</div>						
</div>		
<div style="width: 60%; margin: 0 auto; ">
	por aca mostrar los comentarios y la opcion de comentar?
</div>