<div class="container">
	<div class="col s12 center">
		<h3 class="condensed light">{{post.title}}</h3>
	</div>
	<div class="row">
			<div class="col l5 m7 s12">
				<img ng-src="{{post.poster}}" onerror="imgError(this);">
			</div>
			<div class="col l7 m5 s12">
				<div class="inattr condensed light">
					<ul>
						<li><b>Year:</b> {{post.year}}</li>
						<li><b>Director:</b> {{post.director}}</li>
						<li><b>Actors:</b> {{post.actors}}</li>
						<li><b>Plot:</b> {{post.plot}}</li>
						<li><b>Genre:</b> {{post.genre}}</li>
						<li><b>Run Time:</b> {{post.runtime}}</li>
						<b>Related Movies:</b>
						<li ng-repeat="related in post.relatedMovies | orderBy: 'title'"><a href="#/posts/{{related._id}}">{{related.title}}</a></li>
					</ul>
				</div>
			</div>
	</div>
</div>
<div class="container">

	<div class="row">
		<font class="thin"><b>Calificar:</b></font>
		<input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="newRate.rate"></input-stars>
		<input type="text" placeholder="Ingrese un comentario.." ng-model="newRate.comment"></input>
		<a ng-click="rateMovie(post)" class="waves-effect waves-light btn blue">Enviar</a>
	</div>

	<div class="row" ng-repeat="comment in post.comments">
		<div class="row valign-wrapper">
			<div class="left-align valign"><b class="medium">{{comment.author}}</b></div>
			<div class="right-align valign"><input-stars max="5" readonly="true" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="comment.rating"></input-stars></div>
		</div>
		<div class="condensed light">
			{{comment.body}}
		</div>
	</div>


</div>
